.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    text-align: center;
}

.page-layout {
    display: grid;
}

.header {
    grid-column: 1 / 4;
    background: #2c3e50;
}

.sidebar {
    background: red;
}

.main{
    background: green;
}

.footer{
    grid-column: span 3;
    background: purple;
}